<div class="container w-75 shadow my-3 p-5 rounded">
  <h1 class="text-center mb-3">Summary:</h1>
  <table class="table text-center table-hover table-striped">
    <thead>
    <tr>
      <th scope="col">Movie Title</th>
      <th scope="col">Number of Screenings</th>
      <th scope="col">Tickets Sold</th>
    </tr>
    </thead>
    <tbody *ngIf="summaryList">
    <tr *ngFor="let summary of summaryList">
      <td>{{summary.title}}</td>
      <td>{{summary.screeningCount}}</td>
      <td>{{summary.ticketsSold}}</td>
    </tr>
    </tbody>
  </table>
  <h6 class="mt-5" *ngIf="!summaryList">No summary available.</h6>
</div>
